<h1>Restaurants list</h1>

<div class="restaurant-list">
  <ul id ='restaurants'>
 <% @restaurants.each do |restaurant| %>
 <li>
   Name: <a id="<%= restaurant.id %>" href="/restaurants/<%= restaurant.id %>">  <%= restaurant.name %>  </a><br>
   Description: <%= restaurant.description %> <br>
   Blurb: <%= restaurant.blurb %> <br>
   Postcode: <%= restaurant.postcode %> <br>
   Average Rating: <div id="average-rating"> <%= Review.where(restaurant_id: restaurant.id).average(:rating) %> </div>
 </li>
 <% end %>
</ul>
<%= button_to "New Restaurant", '/restaurants/new', method: :get %>
</div>
