<article class="restaurant-list">
 <% @restaurants.each do |restaurant| %>
 <div class="restaurant">
   Name: <a id="<%= restaurant.id %>" href="/restaurants/<%= restaurant.id %>">  <%= restaurant.name %>  </a><br>
   Description: <%= restaurant.description %> <br>
   Blurb: <%= restaurant.blurb %> <br>
   Postcode: <%= restaurant.postcode %> <br>
   Average Rating: <%= restaurant.reviews.average(:rating) %>
 </div>
 <% end %>

</article>
