<h1>Restaurants list</h1>

<p> Mike's restaurant </p>

<div class="restaurant-list">
  <ul id ='restaurants'>
 <% @restaurants.each do |restaurant| %>
 <li>
   Name: <%= restaurant.name %> <br>
   Description: <%= restaurant.description %> <br>
   Blurb: <%= restaurant.blurb %> <br>
   Postcode: <%= restaurant.postcode %> <br>
 </li>
 <% end %>
</ul>
<%= button_to "New Restaurant", '/restaurants/new', method: :get %>
</div>
