<h1>Restaurants list</h1>

<div class="restaurant-list">
  <ul id ='restaurants'>
 <% @restaurants.each do |restaurant| %>
 <li>
   Name: <a id="<%= restaurant.id %>" href="/restaurants/view/<%= restaurant.id %>">  <%= restaurant.name %>  </a><br>
   Description: <%= restaurant.description %> <br>
   Blurb: <%= restaurant.blurb %> <br>
 </li>
 <% end %>
</ul>
</div>
