<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="public/stylesheets/stylesheet.css">
  </head>
  <body>
    <article id="nav-bar">
      <div id="home-image" class="nav-button-container">
        <a href="/restaurants">
        <img src="https://s16.postimg.org/7x25s7vyd/logo.png" height="50" width="50"> </a>
      </div>
      <div id="welcome-user" class="nav-button-container">
        <% if user_signed_in? %>
          <p>Welcome <%= current_user.email %></p>
        <% end %>
      </div>
      <div id="user-buttons" class="nav-button-container">
        <% if user_signed_in? %>
          <%= button_to "New Restaurant", '/restaurants/new', method: :get, class: "user-auth", id: "add-restaurant"%>
          <%= button_to "Sign out", destroy_user_session_path, id: "sign-out", class: "user-auth", method: :delete %>
        <% else %>
          <%= button_to "Sign up", new_user_registration_path, id: "sign-up", class: "user-auth", method: :get %>
          <%= button_to "Sign in", new_user_session_path, id: "sign-in", class: "user-auth", method: :get %>
        <% end %>
      </div>

    </article>

  </body>
</html>
